In [15]:
import numpy as np 
import pandas as pd

In [16]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("souviksamanta1053/ipl-2025-mega-auction-dataset") #Can Also provide alternate directory to it.

print("Path to dataset files:", path)

Path to dataset files: C:\Users\admin\.cache\kagglehub\datasets\souviksamanta1053\ipl-2025-mega-auction-dataset\versions\1

In [20]:
df=pd.read_csv(r"C:\Users\admin\.cache\kagglehub\datasets\souviksamanta1053\ipl-2025-mega-auction-dataset\versions\1\ipl_2025_auction_players.csv")

In [23]:
df.head(3)

         Players Team  Type Base   Sold
0    Virat Kohli  RCB   BAT    -  21.00
1  Rajat Patidar  RCB   BAT    -  11.00
2     Yash Dayal  RCB  BOWL    -   5.00

In [24]:
df.tail(3)

                 Players Team  Type  Base    Sold
620  Saurabh Netravalkar    -  BOWL  0.30     TBA
621        Hardik Tamore    -    WK  0.30     TBA
622       Daryl Mitchell    -    AR  2.00  Unsold

In [25]:
df.describe

<bound method NDFrame.describe of                  Players Team  Type  Base    Sold
0            Virat Kohli  RCB   BAT     -   21.00
1          Rajat Patidar  RCB   BAT     -   11.00
2             Yash Dayal  RCB  BOWL     -    5.00
3         Jasprit Bumrah   MI  BOWL     -   18.00
4       Suryakumar Yadav   MI   BAT     -   16.35
..                   ...  ...   ...   ...     ...
618          Vijay Yadav    -    AR  0.30     TBA
619         Jofra Archer   RR  BOWL  2.00   12.50
620  Saurabh Netravalkar    -  BOWL  0.30     TBA
621        Hardik Tamore    -    WK  0.30     TBA
622       Daryl Mitchell    -    AR  2.00  Unsold

[623 rows x 5 columns]>

In [26]:
df.count()

Players    623
Team       623
Type       623
Base       623
Sold       623
dtype: int64

In [32]:
print(df['Base'].dtype)

object

In [33]:
df['Base'][2]

'-'

In [34]:
df['Base']=df['Base'].replace("-","0")

In [35]:
df.head()

            Players Team  Type Base   Sold
0       Virat Kohli  RCB   BAT    0  21.00
1     Rajat Patidar  RCB   BAT    0  11.00
2        Yash Dayal  RCB  BOWL    0   5.00
3    Jasprit Bumrah   MI  BOWL    0  18.00
4  Suryakumar Yadav   MI   BAT    0  16.35

In [37]:
import os

In [ ]:
desktop_path_windows = os.path.expanduser('~\\Desktop\\transformed_data.csv')
df.to_csv(desktop_path_windows, index=False)  #to_csv to save our changed csv file